/*기본 스타일*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/*헤더 스타일*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 30px;
    background-color: #fff;
    color: #000;
}

.logo {
    margin-left: 30px;
    margin-right: 150px;
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 80px;
}

.menu-item {
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

.menu-item:hover {
    color: orange;
}

/*활성화된 메뉴 항목*/
#current {
    color: orange;
}

.current-menu-bar {
    position: fixed;
    top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 60px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    z-index: 999;
}

/* 콘텐츠 영역
.container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 140px auto 20px;
    position: relative;
} */

.content {
    max-width: 1200px;
    margin: 140px auto 20px; /* 상단에서부터 140px 떨어지도록 설정 */
    padding: 40px; /* 좌우 패딩만 유지 */
    position: relative;
    z-index: 1;
}

.content p {
    margin: 10px 0; /* 본문 사이의 간격 최소화 */
    margin-left: 25px; /* 제목 시작점과 본문 시작점 일치 */
    line-height: 1.6; /* 가독성을 위한 줄 간격 */
    max-width: 60%; /* 웹페이지 가로 길이의 2/3 지점에서 줄바꿈 */
    word-wrap: break-word; /* 단어가 길어질 경우 줄바꿈 */
}

.title-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title-rectangle {
    width: 5px;
    height: 30px;
    background-color: #333;
}

.title {
    font-size: 32px;
    font-weight: bold;
}

.body-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.map {
    width: 50%;
    position: absolute;
    right: 110px;
    top: 200px;
    z-index: 0;
}

.map img {
    width: 100%;
    height: auto;
    display: block;
}

.dividing_line {
    height: 2px;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 40px;
    background-color: #000;
}
